[Unit]
Description=Apache Brooklyn Service
Documentation=https://brooklyn.apache.org/documentation/index.html

[Service]
Type=simple
WorkingDirectory=/opt/brooklyn/
Environment="JAVA_OPTS=-Dbrooklyn.location.localhost.address=127.0.0.1 -Dlogback.configurationFile=/etc/brooklyn/logback.xml -Xms256m -Xmx1g -XX:MaxPermSize=256m"
Environment="CLASSPATH=/opt/brooklyn/conf:/opt/brooklyn/lib/patch/*:/opt/brooklyn/lib/brooklyn/*:/opt/brooklyn/lib/dropins/*"
ExecStart=/usr/bin/java org.apache.brooklyn.cli.Main launch --localBrooklynProperties /etc/brooklyn/brooklyn.conf --persist auto
Restart=always
User=brooklyn
Group=brooklyn

[Install]
WantedBy=multi-user.target
