[Unit]
Description=Apache Brooklyn Service
Documentation=https://brooklyn.apache.org/documentation/index.html

[Service]
Type=simple
WorkingDirectory=/opt/brooklyn/bin/
ExecStart=/opt/brooklyn/bin/brooklyn launch --localBrooklynProperties /etc/brooklyn/brooklyn.conf
Restart=always
User=brooklyn
Group=brooklyn

[Install]
WantedBy=multi-user.target
